In [2]:
#Q1
'''
A database is a collection of structured data that is organized and managed in a way that allows for efficient storage, retrieval, and manipulation of information.
It is designed to provide a structured and organized approach to storing and retrieving information.'''

'''Tables are used to store and arrange data in relational databases called SQL (Structured Query Language) databases. 
Through the use of primary keys and foreign keys, SQL databases impose stringent guidelines for the organisation of data and the relationships between data. 
They offer a consistent schema that guarantees the integrity and continuity of the data. SQL databases are appropriate for apps that call for sophisticated data analysis and queries.

Contrarily, NoSQL (Not Only SQL) databases hold data using a document-based model, key-value pairs, or graphs. 
Because NoSQL databases lack a schema, they do not impose rigid guidelines for data arrangement and relationships like SQL databases do.
As a result, they are more adaptable and capable of managing huge amounts of unstructured data.Applications that need high scalability and speed, like real-time data processing and analysis, frequently use NoSQL databases'''

'Tables are used to store and arrange data in relational databases called SQL (Structured Query Language) databases. \nThrough the use of primary keys and foreign keys, SQL databases impose stringent guidelines for the organisation of data and the relationships between data. \nThey offer a consistent schema that guarantees the integrity and continuity of the data. SQL databases are appropriate for apps that call for sophisticated data analysis and queries.\n\nContrarily, NoSQL (Not Only SQL) databases hold data using a document-based model, key-value pairs, or graphs. \nBecause NoSQL databases lack a schema, they do not impose rigid guidelines for data arrangement and relationships like SQL databases do.\nAs a result, they are more adaptable and capable of managing huge amounts of unstructured data.Applications that need high scalability and speed, like real-time data processing and analysis, frequently use NoSQL databases'

In [2]:
#Q2
'''DDL stands for Data Definition Language, which is a subset of SQL (Structured Query Language) used to define and manage the structure of a database.
DDL commands are used to create, modify, and delete database objects such as tables, indexes, views, and constraints. 
These commands allow developers and database administrators to define the data types, relationships, and rules that govern the storage and retrieval of data in a database.'''

#CREATE- Used to create new database objects such as tables, indexes, views, and procedures.
CREATE TABLE customers (
    customer_id INT PRIMARY KEY,
    name VARCHAR(50),
    email VARCHAR(100),
    phone INT
);


#DROP- Used to remove existing database objects.
DROP TABLE customers;#In this example, the DROP command is used to delete the "customers" table from the database. This command permanently removes the table and all its data, so it should be used with caution.
DROP INDEX index_name;#Using this we can drop an index value


#ALTER-Used to modify the structure of existing database objects such as tables and indexes.
CREATE TABLE employees (
  employee_id INT PRIMARY KEY,
  first_name VARCHAR(50),
  last_name VARCHAR(50),
  email VARCHAR(100)
);
ALTER TABLE employees
ADD hire_date DATE;

'''In this example, the ALTER command is used to add a new column called "address" to the "customers" table. The column is defined as a character string data type with a maximum length of 200 characters.
The ALTER command can also be used to modify other aspects of a table's structure, such as changing the data type of a column, renaming a column, or adding constraints to a column.
The syntax for these commands varies depending on the type of modification being made, but the basic structure of the command is similar to the example above.'''

#TRUNCATE-Used to remove all data from a table while preserving its structure.
TRUNCATE TABLE  table_name;
table_name: Name of the table to be truncated

In [ ]:
#Q3
'''DML stands for Data Manipulation Language, which is a subset of SQL (Structured Query Language) used to manipulate data in relational databases. 
DML statements allow users to insert, update, delete, and retrieve data from a database.'''

#INSERT-The INSERT statement is used to add new data to a table. 
'''Suppose we have a table named "customers" with columns "customer_id", "first_name", "last_name", and "email". We can use the INSERT statement to add a new row to this table:'''
INSERT INTO customers (customer_id, first_name, last_name, email)
VALUES (1, 'John', 'Doe', 'johndoe@example.com');

#DELETE-The DELETE statement is used to remove rows of data from a table. 
'''Suppose we want to delete the row for the customer with a customer_id of 1. We can use the DELETE statement to do this:'''
DELETE FROM customers
WHERE customer_id = 1;

#UPDATE-The UPDATE statement is used to modify existing data in a table.
'''Suppose we want to update the email address for the customer with the customer_id of 1. We can use the UPDATE statement to do this:'''
UPDATE customers
SET email = 'newemail@example.com'
WHERE customer_id = 1;

In [ ]:
#Q4
'''DQL stands for Data Query Language, which is a subset of SQL (Structured Query Language) used to retrieve data from a database. 
DQL statements are used to query and filter data from one or more tables in a database.'''

#SELECT-The most commonly used DQL statement is the SELECT statement, which is used to retrieve data from one or more tables in a database. The SELECT statement allows users to specify which columns to retrieve and which rows to filter based on specified conditions.

'''Suppose we have a table named "customers" with columns "customer_id", "first_name", "last_name", and "email". We can use the SELECT statement to retrieve all rows from this table:'''
SELECT *
FROM customers;
'''This statement will retrieve all rows and columns from the "customers" table.'''

In [1]:
#Q5
#PRIMARY KEY
'''A primary key is a field or combination of fields in a relational database table that uniquely identifies each record in that table. 
It must be unique, non-null, and immutable. The primary key is used as a reference for other tables to establish relationships or links between tables. 
Typically, the primary key is a single field, such as an ID number, but it can also be a combination of fields.'''

#FOREIGN KEY
'''A foreign key, on the other hand, is a field or combination of fields in a table that refers to the primary key of another table. 
The foreign key establishes a link or relationship between two tables, allowing data to be retrieved from both tables.
It is used to enforce referential integrity, which ensures that a record in one table cannot be deleted if it is referenced by a record in another table. 
The foreign key can be nullable, meaning that it can have a null value if the record it references does not exist.'''

'A foreign key, on the other hand, is a field or combination of fields in a table that refers to the primary key of another table. \nThe foreign key establishes a link or relationship between two tables, allowing data to be retrieved from both tables.\nIt is used to enforce referential integrity, which ensures that a record in one table cannot be deleted if it is referenced by a record in another table. \nThe foreign key can be nullable, meaning that it can have a null value if the record it references does not exist.'

In [3]:
#Q6

#Connector Code
import mysql.connector

# Connect to the database
connec = mysql.connector.connect(user='abc', password='password', host='localhost', database='database_name')

# Create a cursor object
cursor = connec.cursor()

# Execute a query
query = "SELECT * FROM table_name"
cursor.execute(query)

# Fetch and print the result
result = cursor.fetchall()
for row in result:
    print(row)

# Close the cursor and connection
cursor.close()
connec.close()

#Cursor()
'''cursor() is a method of the connection object, which returns a cursor object. The cursor object is used to execute SQL statements against the database and to manage the result set returned by the SQL query. 
The cursor acts as a handle to the database, allowing the program to execute SQL statements and retrieve the results.'''
#Execute()
'''execute() is a method of the cursor object, which is used to execute a SQL statement against the database. 
The SQL statement can be a select statement, insert statement, update statement, delete statement, or any other valid SQL statement.
The execute method takes the SQL statement as its argument and returns a result set if the statement produces one. '''

In [ ]:
#Q7

1.SELECT - selects the columns to retrieve from the database
2.FROM - specifies the table or tables from which to retrieve the data
3.JOIN - joins multiple tables together based on a common column
4.WHERE - filters the rows based on a specified condition
5.GROUP BY - groups the rows based on a specified column or columns
6.HAVING - filters the groups based on a specified condition
7.ORDER BY - sorts the rows based on a specified column or columns

#However this is just a general order.