In [3]:
#Q1
import pandas as pd
a=[4, 8, 15, 16, 23, 42]
ser=pd.Series(a)
print(ser)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [7]:
#Q2
b=[i for i in range(2,12)]
ser2=pd.Series(b)
print(ser2)

0     2
1     3
2     4
3     5
4     6
5     7
6     8
7     9
8    10
9    11
dtype: int64

In [10]:
#Q3
c={'Name':["Alice","Bob","Claire"],
  'Age':[25,30,27],
  'Gender':['Female','Male','Female']}
df=pd.DataFrame(c)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [3]:
#Q4
# In pandas, a DataFrame is a two-dimensional, size-mutable, tabular data structure with rows and columns, similar to a spreadsheet or a SQL table. 
# It is one of the most commonly used data structures in pandas and allows for efficient data manipulation and analysis.

# A pandas Series, on the other hand, is a one-dimensional array-like object that can hold any data type, such as integers, floats, and strings, and provides a label for each element in the array, known as an index.

#  Let's illustrate this example:
import pandas as pd

# Create a dictionary of data
data = {'country': ['China', 'India', 'USA', 'Indonesia', 'Brazil'],
        'population': [1439, 1380, 331, 273, 213],
        'area': [9597, 3287, 9834, 1905, 8516]}

# Create a DataFrame from the dictionary
df = pd.DataFrame(data)

# Create a Series from the 'population' column of the DataFrame
population_series = df['population']

# Print the DataFrame and the Series
print(df,"\n")
print(population_series)

     country  population  area
0      China        1439  9597
1      India        1380  3287
2        USA         331  9834
3  Indonesia         273  1905
4     Brazil         213  8516

0    1439
1    1380
2     331
3     273
4     213
Name: population, dtype: int64

In [4]:
#Q5
There are many functions in Pandas that can be used to manipulate data in a DataFrame. Some common ones include:

head() and tail(): These functions allow you to view the first or last n rows of a DataFrame. For example, df.head() will show the first five rows of the DataFrame df.

describe(): This function provides summary statistics for the numerical columns in a DataFrame, such as the mean, standard deviation, and quartiles. For example, df.describe() will give you summary statistics for the DataFrame df.

groupby(): This function allows you to group the rows of a DataFrame based on one or more columns, and then apply a function to each group. For example, df.groupby('column_name').mean() will group the rows of the DataFrame df by the values in column_name, and then calculate the mean for each group.

sort_values(): This function allows you to sort the rows of a DataFrame by one or more columns. For example, df.sort_values('column_name') will sort the rows of the DataFrame df in ascending order based on the values in column_name.

dropna(): This function allows you to remove rows or columns with missing values from a DataFrame. For example, df.dropna() will remove any rows with missing values from the DataFrame df.

fillna(): This function allows you to fill missing values in a DataFrame with a specified value or method, such as filling missing values with the mean of the column. For example, df.fillna(df.mean()) will fill any missing values in the DataFrame df with the mean of each column.

One example of when you might use one of these functions is if you have a DataFrame with missing values, and you want to remove those rows before doing further analysis. In that case, you could use the dropna() function to remove the rows with missing values. 
Another example is if you have a DataFrame with multiple columns, and you want to group the rows by one of the columns and then calculate the mean for

In [5]:
#Q6
In Pandas, both Series and DataFrame are mutable in nature, while Panel is considered to be an immutable data structure.

This means that you can modify the contents of a Series or DataFrame after it has been created, but you cannot modify the contents of a Panel. 
Instead, you would need to create a new Panel with the desired modifications.

In [7]:
#Q7
import pandas as pd

# Create three Series
s1 = pd.Series([1, 2, 3])
s2 = pd.Series(['a', 'b', 'c'])
s3 = pd.Series([True, False, True])

# Create a dictionary of Series
data = {'col1': s1, 'col2': s2, 'col3': s3}

# Create a DataFrame from the dictionary
df = pd.DataFrame(data)
df
In this example, we first create three Series s1, s2, and s3. We then create a dictionary data with keys 'col1', 'col2', and 'col3', and values s1, s2, and s3, respectively. 
Finally, we use the pd.DataFrame() function to create a DataFrame df from the dictionary.

   col1 col2   col3
0     1    a   True
1     2    b  False
2     3    c   True